<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To do list</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
  <h1>Todo App</h1><br>
  
  <form action="" id="myForm">
    <label for="typeBoard"></label>
    <input type="text" placeholder="What do you need to do?">
    <br><br>
    <label for="submit"></label>
    <button id="add_todo" type="submit">Add Todo</button>
    <button id="clear_todo" type="submit" class="clear">Clear</button>
  </form>
  
  
  <ul></ul>
  

  <script src="/js/script.js"></script>
  
</body>
</html>